<header class="bg-gray-500 p-5 text-white flex">

    <a href="/" class="<%= currentPage === 'index' ? 'bg-red-400' :  'hover:bg-red-400' %> py-2 px-4">airbnb</a>

    <% if(isLoggedIn) { %>
        <a href="/homes"
            class="<%= currentPage === 'Home' ? 'bg-red-400' :  'hover:bg-red-400' %> py-2 px-4">Homes-list</a>

        <a href="/favourites"
            class="<%= currentPage === 'favourites' ? 'bg-red-400' :  'hover:bg-red-400' %> ml-6 py-2 px-4"> Favourites
        </a>

        <a href="/bookings"
            class="<%= currentPage === 'bookings' ? 'bg-red-400' :  'hover:bg-red-400' %> ml-6 py-2 px-4"> Bookings </a>

        <a href="/host/host-home-list"
            class="<%= currentPage === 'host-homes' ? 'bg-red-400' :  'hover:bg-red-400' %> ml-6 py-2 px-4"> Host homes
        </a>

        <a href="/host/add-home"
            class="<%= currentPage === 'addHome' ? 'bg-red-400' :  'hover:bg-red-400' %> ml-6 py-2 px-4"> Add Home </a>

        <% } %>

            <% if(!isLoggedIn) { %>

                <a href="/login" class="hover:bg-red-400 ml-6 py-2 px-4"> Login </a>
                <% } else { %>

                    <form action="/logout" method="POST">
                        <button type="submit" class="hover:bg-red-400 ml-6 py-2 px-4">
                            Logout
                        </button>
                    </form>
                    <% } %>


</header>