<%- include('../partials/head') %>
    </head>

    <body>
        <%- include('../partials/nav') %>

            <h1 class="text-center mt-5 text-4xl">
                <%= editing ? "Edit": "Register" %> your home
            </h1>
            <main>

                <form action="/host/<%= editing ? "edit-home" : "add-home" %>" method="POST" class="flex flex-col justify-center items-center">

                    <input type="hidden" name="id" value="<%= editing ? home.id : '' %>">

                    <input class="border-2 p-2 ml-1 rounded-sm w-xl mt-5" type="text" name="houseName"
                    value="<%= editing? home.houseName : '' %>"
                    placeholder="Enter the name of your house" />

                    <input class="border-2 p-2 ml-1 rounded-sm w-xl mt-5" type="text" name="price" 
                    value="<%= editing? home.price : '' %>"
                    placeholder="Price per night" />

                    <input class="border-2 p-2 ml-1 rounded-sm w-xl mt-5" type="text" name="location" 
                    value="<%= editing? home.location : '' %>"placeholder="Location" />

                    <input class="border-2 p-2 ml-1 rounded-sm w-xl mt-5" type="text"
                    value="<%= editing? home.rating : '' %>" name="rating" placeholder="Rating" />

                    <input class="border-2 p-2 ml-1 rounded-sm w-xl mt-5" type="text" 
                    value="<%= editing? home.photoUrl : '' %>"
                    name="photoUrl" placeholder="Enter photo url" />

                    <input type="submit" value="<%= editing ? "Update Home": "Add Home" %>" class="bg-red-400 rounded-sm p-2 text-white w-30 mt-4  cursor-pointer" />
                </form>
            </main>
    </body>

    </html> 