<%- include('../partials/head') %>
  </head>

  <body>
    <%- include('../partials/nav') %>
      <main>
        <h1 class="text-center mt-5 text-4xl">
          Host homes:
        </h1>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 p-6">
          <% registeredHomes.forEach(home=> { %>
            <div class="bg-white rounded-2xl shadow-lg overflow-hidden hover:shadow-xl transition-shadow duration-300">
              <img class="w-full h-48 object-cover" src="<%= home.photo %>" alt="<%= home.houseName %>">
              <div class="p-4">
                <h2 class="text-xl font-semibold text-gray-800 capitalize">
                  <%= home.houseName %>
                </h2>
                <p class="text-gray-600 mt-1">📍 <%= home.location %>
                </p>
                <p class="text-gray-700 mt-2">💰 Price: Rs. <%= home.price %>
                </p>
                <p class="text-yellow-500 mt-1">⭐ Rating: <%= home.rating %>/5</p>
                <a href="/host/edit-home/<%= home._id %>?editing=true" class="bg-blue-500 p-2 mt-3">Edit</a>
               <form action="/host/delete-home/<%= home._id %>" method="POST">
                <button type="submit" class="bg-red-500 p-2 mt-3 cursor-pointer">Delete</button>
               </form> 
              </div>
            </div>
            <% }) %>
        </div>
      </main>
  </body>

  </html>